body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #035E7B;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 130px; /* Set a fixed height for the header */ /* Ensure positioning context for the logo */
}


.logo-container {
    /* position: absolute; Position the logo absolutely */
    margin-top: 0;
    margin-bottom: 0;
    width: 33%;
    text-align: center;
}

.logo-container img {
    max-width: 30%;
    height: auto;
    margin: 0 auto; /* Center the image horizontally */
}

.button-div {
    position: absolute;
}

.ttw_button {
    display: inline-block;
    padding: 1px 3px;
    font-weight: bold;
    background: #035E7B;
    box-shadow: 0 0 0 3px #035E7B,
                inset 0 0 0 1px #fff;
}
.menu-btn {
    position: absolute;
    padding-left: 49%;
    padding-right: 49%;
    margin-top: 70px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px; /* Adjust the height of the button */
    cursor: pointer;
    border: none; /* Remove default button border */
    background-color: #fff; /* White background */
}

.menu-line {
    width: 100%;
    height: 3px;
    background-color: #035E7B;
    border-radius: 0px; /* Adding a small border-radius for the lines */
}

/* Adjust the spacing between the lines */
.menu-line + .menu-line {
    margin-top: 3px;

}


.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px;
}

.dropdown-content h3 {
    margin-top: 0;
}

.dropdown-content ul {
    list-style-type: none;
    padding: 0;
}

.dropdown-content ul li {
    margin-bottom: 5px;
}

.dropdown-content ul li a {
    color: #035E7B;
    text-decoration: none;
    font-size: 10px;
}

.dropdown-content ul li a:hover {
    text-decoration: underline;
}

.show {
    display: block;
}

.date-time {
    font-size: 15px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.car-fact {
    width: 33%;
    font-size: 15px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.car-fact {
    margin-left: 30px; /* Push the logo container to the right */
}

.date-time { /* Push the date-time container to the left */
    width: 33%;
    text-align: right;
}

.logo-bottom {
    text-align: left;
    padding: 20px 0;
    margin-left: 4%;
    width:80%;
}

.logo-bottom img {
    max-width: 60%; /* Adjust the size of the logo */
}

.logo-bottom h1 {
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 350%;
    font-style: normal;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.281);
}



.calculator-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: center;
}

.calculator-grid h2 {
    grid-column: 1 / -1;
    margin-bottom: 20px;
}

.calculator-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px; /* Adjust as needed */
    border: 1px solid #ccc;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
    overflow: hidden;
}

.calculator-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: center;
}

.calculator-grid h2 {
    grid-column: 1 / -1;
    margin-bottom: 20px;
}

.calculator-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px; /* Adjust as needed */
    border: 1px solid #ccc;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
    overflow: hidden;
}

.calculator-item .icon {
    width: 100%; /* Adjust as needed */
    height: 100%; /* Adjust as needed */
    background-size: cover;
}

.calculator-item .text {
    padding: 10px 0;
}

/* Background images for each calculator item */
.loan-payment .icon {
    background-image: url('https://www.banknote.lv/storage/files/paterina-kredits-interneta-1-min.jpg');
}

.fuel-cost .icon {
    background-image: url('https://www.canadianfuels.ca/wp-content/uploads/2020/09/conventional-fuels-hero.jpg');
}

.cost-of-ownership .icon {
    background-image: url('https://assets-global.website-files.com/60a6b551be6130e4e5b19b98/616453a91181419f74fe28e1_614dfcd3caf4ce749abde1bf_cash-basis-sinking-your-startup.jpeg');
}

.tire-size .icon {
    background-image: url('https://qph.cf2.quoracdn.net/main-qimg-4dddb3c212617d63a541afa13a7da947');
}

.grid-container-element { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 10px; 
    width: 100%; 
} 
.grid-child-element { 
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 7%;

    /* border: 1px solid red;  */
}

/* .game-section {
    padding: 20px;
    margin-top: 20px;
}

.game-heading {
    color: violet;
    text-align: center;
}

.game-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: violet;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.game-item:hover {
    background-color: rgba(238,130,238,0.3);
}

.game-item .icon {
    width: 50px;
    height: 50px;
    background-image: url('game_icon.png');
    background-size: cover;
    margin-right: 20px;
}

.game-text {
    font-size: 18px;
} */

/* .menu {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    color: #fff;
}

.section {
    padding: 20px;
    background-color: #1E90FF;
    border-radius: 10px;
} */

/* Grid container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
  }
  
.grid-container-sec {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding: 10px;
  }

  /* Grid item */
  .grid-item {
    position: relative;
    width: 100%;
    padding-top: 100%; /* Maintain aspect ratio for square grid items */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.281);
  }
  

  .grid-item2 {
    position: relative;
    width: 100%;
    padding-top: 30%; /* Maintain aspect ratio for square grid items */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.281);
  }
  /* Link styling */
  .calculator-link,
  .game-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
  
  /* Icon */
  .icon {
    /* display: flex; 
    align-items: center; 
    justify-content: center;
    text-align: center; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

  }

  .icon2 {
    /* display: flex; 
    align-items: center; 
    justify-content: center;
    text-align: center; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-size: cover;
    background-position: center;
    
  }
  
  /* Calculator icons */
  .calculator1 {
    background-image: url('https://www.canadianfuels.ca/wp-content/uploads/2020/09/conventional-fuels-hero.jpg');
  }
  
  .calculator2 {
    background-image: url('https://www.banknote.lv/storage/files/paterina-kredits-interneta-1-min.jpg');
  }
  
  .calculator3 {
    background-image: url('https://www.bridgestoneamericas.com/content/corpcomm/americas/en/company/safety/choosing-tires/determining-tire-size/_jcr_content/root/layoutmain/sectiongroup_1544638/section-content/image.img.jpg/1647263691640.jpg');
  }
  
  .calculator4 {
    background-image: url('https://assets-global.website-files.com/60a6b551be6130e4e5b19b98/616453a91181419f74fe28e1_614dfcd3caf4ce749abde1bf_cash-basis-sinking-your-startup.jpeg');
  }
  
  /* Game icons */
  .game1 {
    background-image: url('https://www.celubuve24.lv/cela-zimes-un-norades/photo_1.jpeg');
  }
  
  .game2 {
    background-image: url('https://i.pinimg.com/originals/b4/b3/3b/b4b33b198fb7f18138427f21950fe95d.jpg');
  }
  
  /* Calculator name */
  .calculator-name,
  .game-name {
    padding: 3%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: 50%;
    left: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size:xx-large;
    /* margin-bottom:50%;
    margin-top:50%; */
    /* margin:50%; */
  }

.calc-title {
    text-align: center;
    background-color: #088DB7;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
}

.game-title {
    margin-top: 5%;
    text-align: center;
    background-color: #3644C0;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
}
  
  
